body {
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:100vh;
    background-color:royalblue;
    color:white;

}

.dashboardtitle {
    display:flex;
    gap:12px;
    margin: 20px 0px;
    align-items:center;
    font-size:x-large;
    font-weight: bolder;
}



    

.dashboardtitle>img {
    height:4rem;
    width:auto;
    margin-left:12px;
    filter:invert();
}


.dashbutton {
    display:flex;
    gap:12px;
    justify-content:flex-start;
    align-items:center;

}

.dashboardbuttons1 {
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    margin: 10vh 0px;
}

.dashboardbuttons2 {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
}

.dashlabel {
    font-size:large;
    font-weight:bold;
    text-align: left;

}

.dashbutton>img {
    height:5vh;
    width:auto;
    margin-left:24px;
    margin-right:12px;
    padding:0.1rem;
    filter:invert();

}


.main {
    display:grid;
    grid-template-rows: 5rem 8rem 1fr;
    gap:4px;
}

.search {
    display:grid;
    grid-template-columns: 2rem 1fr 2rem 3rem 15%;
    gap:12px;
    margin-top:1.5rem;
    align-items:center;
    margin-left: 1rem;
}


.searchbar {
    height: 1.5rem;
    background-color: lightgray ;
    border-radius: 1rem;

}


.username {
    font-weight: bold;
}


.welcome {
    display:grid;
    grid-template-columns: 6rem 8fr 2fr 2fr 2fr 1fr;
    align-items: center;
    box-shadow: 0px 2px 5px gray;
}   

.welcome>.profilepic {
    margin-left:12px;
}

.greeting {
    grid-template-rows: 2rem 4rem;
    font-weight:bold;
    margin-left:12px;
}

.greeting>.hithere {
    font-size:0.75rem;
}
.greeting>.handle {
    font-size:1.5rem;
    
}

.welcome>button {
    height:3rem;
    width:8rem;
    background-color: royalblue;
    color:white;
    border-radius: 2rem;
    font-size:1rem;
    font-weight: bold;
    
}

.mainbody{
    background-color:lightgray;
}




