body {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:100vh;
    width:clamp(250px, 20vw, 20vw);
    background-color:royalblue;
    color:white;
    position:fixed;

}

.dashboardtitle {
    display:flex;
    gap:12px;
    margin: 20px 0px;
    align-items:center;
    font-size:x-large;
    font-weight: bolder;
}



    

.dashboardtitle>img {
    height:4rem;
    width:auto;
    margin-left:12px;
    filter:invert();
}


.dashbutton {
    display:flex;
    gap:12px;
    justify-content:flex-start;
    align-items:center;

}

.dashboardbuttons1 {
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    margin: 10vh 0px;
}

.dashboardbuttons2 {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
}

.dashlabel {
    font-size:large;
    font-weight:bold;
    text-align: left;

}

.dashbutton>img {
    height:5vh;
    width:auto;
    margin-left:24px;
    margin-right:12px;
    padding:0.1rem;
    filter:invert();

}


.main {
    width:80vw;
    margin-left:clamp(250px, 20vw, 20vw);
    display:grid;
    grid-template-rows: 5rem 8rem 1fr;
    gap:4px;
}

.search {
    display:grid;
    grid-template-columns: 2rem 1fr 2rem 3rem 15%;
    gap:12px;
    margin-top:1.5rem;
    align-items:center;
    margin-left: 1rem;
}


.searchbar {
    height: 1.5rem;
    background-color: lightgray ;
    border-radius: 1rem;

}


.username {
    font-weight: bold;
}


.welcome {
    display:grid;
    grid-template-columns: 6rem 8fr 2fr 2fr 2fr 1fr;
    align-items: center;
    box-shadow: 0px 2px 5px gray;
}   

.welcome>.profilepic {
    margin-left:12px;
}

.greeting {
    grid-template-rows: 2rem 4rem;
    font-weight:bold;
    margin-left:12px;
}

.greeting>.hithere {
    font-size:0.75rem;
}
.greeting>.handle {
    font-size:1.5rem;
    
}

.welcome>button {
    height:3rem;
    width:8rem;
    background-color: royalblue;
    color:white;
    border-radius: 2rem;
    font-size:1rem;
    font-weight: bold;
    
}

.mainbody{
    background-color:lightgray;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2.5rem 1fr 2.5rem 1fr;
    padding-right:20px;
}

.projects {
    display:grid;
    grid-row: 2 / span 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.project {
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-wrap:wrap;
    max-width: 20vw;
    height: 20vh;
    padding:20px;
    margin:12px;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px gray;
    border-left-color:orange;
    border-style: solid;
    border-width: 0px 0px 0px 6px;
}

.project>.icons {
    align-self:flex-end;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:20px;
    margin-right:16px;
    gap:20px;
}

.icons>* {

    width:1.5rem;
    height:auto;
}


.project>.title {
    margin-top:12px;
    
    font-weight: bold;
    font-size: large;
}

.project>.text {
    font-weight:lighter;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    align-self:center;
    margin-left: 16px;
}

.lorem {
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcements {
    border-radius: 1rem;
    background-color: white;
    padding:24px;
    box-shadow: 4px 4px 4px gray;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.announcement {
    display:flex;
    flex-direction: column;
    max-height: 8vh;
    
}

.announcement>.title {
    font-weight: bold;
}

.trending {
    border-radius: 1rem;
    background-color: white;
    padding:24px;
    box-shadow: 4px 4px 4px gray;
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}
.profile>img {
    width:4rem;
    height:auto;
    margin-left:20px;
}

.profile {
    display:flex;
    flex-direction: row;
    max-height: 8vh;
    align-items:center;
    
}

.profile>.profileinfo {
    display:flex;
    flex-direction: column;
    margin-left:20px;

}
.profileinfo>.handle {
    font-weight:bold;
}
